
x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  
  environment:
    AIRFLOW_HOME: /opt/airflow
    AIRFLOW_WEBSERVER_HOST: 0.0.0.0
    AIRFLOW_WEBSERVER_PORT: 8080
    AIRFLOW_EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__CORE__FERNET_KEY: 7cQyYp1_jDq1fVwM3kR0hG8zL6bA4xS9tE2uI7oP5nZ0qWvXaYbCgHdEfJkLmNoP
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${P_user}:${P_pass}@postgres:5432/${P_db}
    _AIRFLOW_DB_MIGRATE: 'true'
    _AIRFLOW_WWW_USER_CREATE: 'true'
    _AIRFLOW_WWW_USER_USERNAME: ${User}
    _AIRFLOW_WWW_USER_PASSWORD: ${Pass}
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs

services:
  postgres:
      image: postgres:13
      environment:
        - POSTGRES_USER=${P_user}
        - POSTGRES_DB=${P_db}
        - POSTGRES_PASSWORD=${P_pass}
      ports:
        - "5432:5432"
      healthcheck:
        test: ["CMD", "pg_isready", "-U", $${P_user}]
        interval: 5s
        timeout: 5s
        retries: 5
    
  airflow-init:
    <<: *airflow-common
    container_name: airflow_init
    command: ["airflow", "db", "migrate"] 
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow_webserver
    command: ["airflow", "webserver"]
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    ports:
       - "8080:8080"
    depends_on:
        airflow-init:
          condition: service_completed_successfully
    
  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow_scheduler
    command: ["airflow", "scheduler"]
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8974/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully



  kafka:
      image: confluentinc/cp-kafka:latest
      hostname: kafka
      container_name: kafka
      ports:
        - "9092:9092"
      environment:
        KAFKA_NODE_ID: 1
        KAFKA_CLUSTER_ID: "gBXz9xj8R46TeM2pK8Nvkw"
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_LISTENERS: CONTROLLER://0.0.0.0:29093,INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
        KAFKA_ADVERTISED_LISTENERS: CONTROLLER://kafka:29093,INTERNAL://kafka:29092,EXTERNAL://localhost:9092
        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL 
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
        KAFKA_LOG_DIRS: /var/lib/kafka/data
      volumes:
          - ./kafka_data:/var/lib/kafka/data


